
body{
    background-image: url('/static/img/background-dark.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-padding{
    max-width: 680px;
    padding-top: 130px;
    padding-bottom: 100px

}

.genderAndRadio-spacing{
    padding-top: 10px;

}
m-r-45 {
    margin-right: 45px;
}

.radio-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }


.title {
    font-size: 24px;
    color: #525252;
    font-weight: 400;
    margin-bottom: 40px;
}

.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.card-4 .card-body {
    padding: 57px 65px;
    padding-bottom: 65px;
}

.label {
    font-size: 16px;
    color: #555;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}

.p-t-15 {
    padding-top: 15px;
}

.buttonsize{
    height: 50px;
    width: 30%;
}

.inputbackground{
    line-height: 50px;
    background: #fafafa;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

.databorder{
    border: 3px solid black;
    margin:10px 0;
    padding: 5px;
}